module {{.ModulePath}}

go 1.23

require (
	github.com/spf13/viper v1.19.0
	go.uber.org/zap v1.27.0
	golang.org/x/sync v0.10.0
{{- if has "http"}}
	github.com/gin-gonic/gin v1.10.0
	github.com/go-playground/validator/v10 v10.22.1
{{- end}}
{{- if has "grpc"}}
	google.golang.org/grpc v1.69.2
	google.golang.org/protobuf v1.36.1
{{- end}}
{{- if has "postgres"}}
	github.com/jackc/pgx/v5 v5.7.2
{{- end}}
{{- if has "redis"}}
	github.com/redis/go-redis/v9 v9.7.0
{{- end}}
{{- if has "jwt"}}
	github.com/golang-jwt/jwt/v5 v5.2.1
	golang.org/x/crypto v0.31.0
{{- end}}
{{- if has "ratelimit"}}
	golang.org/x/time v0.8.0
{{- end}}
)
